section.rates {
  max-width: calc(100% - 40px);
  margin: 0 20px;

  .input {
    width: 100%;
    margin-top: 50px;
    display: block;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #ffffff;
    background-color: rgb(26, 26, 26);
  }

  .entries {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .entry {
      width: 150px;
      margin: 5px 0;
      color: #ffffff;
      font-weight: 300;

      .key {
        width: 50px;
        float: left;

        &::after {
          content: ":";
        }
      }

      .value {
        width: 100px;
        float: left;
      }
    }
  }
}
