.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.2s ease-in;

  .spinner {
    --radius: 40px;
    --radius-half: calc(var(--radius) / 2);
    --radius-neg: calc(-1 * var(--radius));
    --part-dist: calc(var(--radius-neg) / 0.5543);
    --part-size: 30px;
    background: rgb(255, 74, 19);
    width: var(--part-size);
    height: var(--part-size);
    border-radius: 50%;
    position: relative;
    animation: spinner-anim;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    &::after,
    &::before {
      --angle: 30deg;
      content: "";
      background: inherit;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      animation: spinner-part-anim;
      animation-timing-function: inherit;
      animation-duration: inherit;
      animation-iteration-count: inherit;
    }

    &::before {
      --angle: -30deg;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes spinner-anim {
    from {
      transform: rotate(0deg) translateX(var(--radius));
      opacity: 1;
    }
    25% {
      transform: rotate(720deg) translateX(0);
      opacity: 0;
    }
    50% {
      transform: rotate(0deg) translateX(var(--radius));
      opacity: 1;
    }
    75% {
      transform: rotate(-720deg) translateX(0);
      opacity: 0;
    }
    to {
      transform: rotate(0deg) translateX(var(--radius));
      opacity: 1;
    }
  }

  @keyframes spinner-part-anim {
    from {
      transform: rotate(var(--angle)) translateX(var(--part-dist));
    }
    25% {
      transform: rotate(var(--angle)) translateX(0);
    }
    50% {
      transform: rotate(var(--angle)) translateX(var(--part-dist));
    }
    75% {
      transform: rotate(var(--angle)) translateX(0);
    }
    to {
      transform: rotate(var(--angle)) translateX(var(--part-dist));
    }
  }
}
