.close-x {
	.close {
		position: relative;
		transform: rotate(45deg);
		transition: opacity 0.2s, color 0.2s;
		cursor: pointer;
		opacity: 1;
		transition: transform 0.2s;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: calc(50% - (var(--thickness) / 2));
			left: 0;
			width: 100%;
			height: var(--thickness);
			display: block;
			color: inherit;
			transform-origin: center;
			background-color: currentColor;
		}

		&::after {
			transform: rotate(90deg);
		}
	}
}
