@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  animation: show 0.2s ease-in;

  .button-close {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--width) * 1px);
    max-width: 90vw;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: #252526;

    .title {
      width: 100%;
      margin: 0 auto;
      padding: 0 0 5px 0;
      font-size: 21px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #ababab;
      border-bottom: 1px solid var(--main-color);
    }
  }
}
